integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}
backend:
  database:
    client: pg
    connection:
      host: ${PG_HOST}
      port: ${PG_PORT}
      user: ${PG_USER}
      password: ${PG_PASSWORD}
      database: ${PG_DATABASE}
